@*@model List< Project_Expense_Tracker.context.category>
@{
    ViewBag.Title = "DeleteCategory";
}*@

@*<table class="tabel tabel-hover">
    <tr>
        <th> Category Name</th>
        <th>Category Limit</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <tb>@item.CATEGORY_TITLE</tb>
            <tb>@item.CATEGORY_AMOUNT</tb>
            <td>
                <a herf=""><i class="glyphicon-pencil"> </i></a>
                <a herf=""><i class="glyphicon-trash"> </i></a>
            </td>
        </tr>

    }
</table>*@


